*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(38, 41, 51, 0.7), rgba(38, 41, 51, 0.7)), url("bamboo.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    align-items: center;
    margin: 3vh auto;
    background: hsl(0, 0%, 100%, 0.1);
    border-radius: 2em;
    height: 5rem;
    padding: 0 3rem;
}
nav ul li{
    text-align: center;
    list-style: none;
    display: inline-block;
    padding: .5em 1em;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
nav ul li::after {
    content: '';
    width: 0;
    height: 0.15em;
    display: block;
    margin: auto;
    background: white;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}