*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

/*general settings*/

section{
    width: 100%;
    min-height: 100vh;
}

/*header section*/

.header{
    background-image: linear-gradient(rgba(38, 41, 51, 0.7), rgba(38, 41, 51, 0.7)), url("bamboo.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    height: 8rem;
    border: 1px solid red;
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(0.5rem);
}
nav ul{
    overflow: hidden;
    list-style: none;
    margin: auto;
    border-radius: 10rem;
    background: rgba(38, 41, 51, 0.7);
}
nav ul li{
    display: inline-block;
    padding: 1.5rem;
}
nav ul li a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}
nav ul li::after{
    display: block;
    background: white;
    content: '';
    height: 0.1rem;
    margin: auto;
    transition: 0.5s;
    width: 0;
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li:hover{
    background: rgba(38, 41, 51, 1);
}